@charset "utf-8";/* CSS Document */
 
<!--
/* All  */
html{font-size:62.5%}
body{font-size:14px;font-size:1.4rem} /* 14px */
h1{font-size:24px;font-size:2.4rem} /* 24px */
body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form{margin:0;padding:0}
ul, ol, dl, li{list-style:none}
img{vertical-align:top}
em{font-style:normal}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
img{max-width:100%;height:auto;border:0}
html, body{min-height:100%}
a{cursor:pointer;text-decoration:none}
a, img{border:none;border:0;outline:none}
strong{font-weight:bold}
*{-webkit-text-size-adjust:none}
/* google search */
#modalbg{position:absolute;left:0;top:0;width:100%;z-index:999;background-color:#FFF;display:none}

/* Mobile */
.top_nav{width:100%;margin:0;padding:0;z-index:999}
.top_nav *{font-family:Tahoma, Geneva, sans-serif !important}
.top_nav h1{width:103px;height:27px;background:url(../Image/top_snLogo_L.png) no-repeat;margin:10px 0 0 10px;*margin-top:10px}
.top_nav h1 a{width:103px;height:27px;display:block}

.gnb{margin:0;font-size:12px;font-size:1.2rem}
.gnb>button{width:40px;height:30px;padding:30px 0 0 0;position:absolute;background:none;border:0;cursor:pointer;top:10px;right:10px}
.gnb>button>i{position:absolute;left:4px;top:4px;border-top:12px double #CCC;border-bottom:4px solid #CCC;width:28px;height:4px} 


.triangle{display:none}
.top_main_menu{display:none;margin:20px 0 0 0;z-index:999}
.top_main_menu>li>a{display:block;padding:12px 20px;padding-left:20px;font-weight:bold;color:#FFF;text-decoration:none;text-transform:uppercase;background:#202020;border-bottom:#FFF solid 1px}
.top_main_menu>li>a:hover{color:#f15d1e}
.top_main_menu>li>a:hover span{border-top:4px solid #f15d1e}
.top_main_menu>li:first-child>a{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}

.top_sub_menu{background:#333;border-bottom:#FFF solid 1px;padding-left:10px;z-index:999}
.top_sub_menu li{display:inline-block;zoom:1;*display:inline;position:relative;z-index:999;vertical-align:top}
.top_sub_menu li a{display:block;padding:7px 16px;background:#333;margin:0;color:#aaa;text-decoration:none;line-height:26px}
.top_sub_menu li a:hover{color:#FFF}

.top_sub_menu .game_icon{display:inline-block;zoom:1;*display:inline;position:relative}
.top_sub_menu .game_text{display:inline-block;zoom:1;*display:inline;padding-left:6px}
.top_sub_menu .game_new{position:absolute;left:10px;top:5px}

.top_right_menu ul{*margin-top:-16px} /* ie 7 */
.top_right_menu li a{display:block;padding:12px 20px;background:#202020;font-weight:bold;color:#f15d1e;text-decoration:none;border-bottom:#FFF solid 1px;text-transform:uppercase}
.top_right_menu li a:hover{color:#FFF}
.facebook_icon{background:url(../Image/fb_icon.jpg) no-repeat 0 52%;padding-left:20px}
.gnb .top_right_menu li.welcome{display:none}


#footer{margin:0 auto;min-width:288px;width:95%;font-size:12px;font-size:1.2rem;color:#676767;text-transform:uppercase;padding:20px 0}
#footer *{font-family:Tahoma, Geneva, sans-serif !important}
.social_menu strong{color:#FFF}
.social_menu>li{display:inline-block;zoom:1;*display:inline}
.social_menu .footer_global{cursor:pointer;position:relative}
.social_menu .footer_global a{font-size:12px;font-size:1.2rem;color:#676767}

#global_menu{padding:5px 10px;width:180px;background:#e4e4e4;display:none;position:absolute;left:34px;*left:24px;top:0;opacity:0.85;-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=85)";filter:alpha(opacity = 85);-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px}
#global_menu li{display:block;line-height:26px;background:url(../../img.softnyx.com/3/sn/portal_main/menu_icon.gif) 0 56% no-repeat;padding-left:8px}
#global_menu a{color:#676767;text-decoration:none;font-size:12px;font-size:1.2rem}
#global_menu a:hover{color:#FFF}

#global_menu .close_gmenu{text-align:right;background:none;color:#aaa}
#global_menu .close_gmenu a{font-size:14px;font-size:1.4rem}

.footer_menu{padding:10px 0}
.footer_menu li{display:block;font-size:12px;font-size:1.2rem;color:#5a5959;line-height:24px;background:url(../../img.softnyx.com/3/sn/portal_main/menu_icon.gif) 0 51% no-repeat;padding-left:10px}
.footer_menu li a{color:#676767;text-decoration:none}
.footer_menu li a:hover{color:#FFF}

.copyrights{color:#676767;font-size:12px;font-size:1.2rem;padding-top:20px}
.copyrights a{color:#676767;text-decoration:none}
.copyrights a:hover{color:#FFF}
.channel_img{width:249px;margin:0 auto}
.footer_global span{display:none}

.top_nav{border-top:4px solid #151515;padding-bottom:5px}
/* mobile & tablet */
@media all and (min-width:488px) and (max-width:1023px){
/*** common top and bottom ***/
.footer_global span{display:inline-block;zoom:1;*display:inline;padding:0 10px}
/*** common top and bottom ***/
	
}

/* Desktop */
@media all and (min-width:1024px){

/* nav */
.top_nav{width:100%;background:#151515;border-top:0;padding-bottom:0}
.gnb>button{display:none;visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0}

.top_nav h1{width:57px;height:15px;background:url(../Image/top_snLogo.png) no-repeat;float:left;margin-top:13px;margin-left:2%}
.top_nav h1 a{width:57px;height:15px;display:block}



.triangle{display:block;border-top:4px solid #888;border-right:4px solid transparent;border-left:4px solid transparent;bottom:-4px;position:absolute;right:0;top:18px}
.gnb{font-size:12px;font-size:1.2rem}
.top_main_menu{position:relative;display:block !important;border-radius:0;border-bottom:none;padding:0;margin:0 0 0 130px}
.top_main_menu:after{content:"";display:block;clear:both}
.top_main_menu>li{float:left;margin:0 20px 0 0}
.top_main_menu>li>a{padding:6px 12px 10px 12px;border-radius:0;margin:0;color:#888888;height:28px;padding:12px 12px 0 0;position:relative;background:none;border-bottom:none}
.top_main_menu>li.active>a{color:#FFF}
.top_main_menu>li.active>a span{border-top:4px solid #f15d1e}
.top_main_menu>li.active>ul{display:block}

.body:after{content:"";display:block;clear:both}

.top_sub_menu{display:none;position:absolute;top:40px;margin-left:-12px;background:#151515;border-bottom:none;padding:0 0 4px 0;opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft. Alpha(Opacity=90)";filter:alpha(opacity = 90);-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:50 0 5px 5px;border-radius:0 0 5px 5px}
.top_sub_menu li{display:block;*border-bottom:0;width:100%;position:relative}
.top_sub_menu li:last-child{border-bottom:0}

.top_sub_menu li a{display:block;font-size:12px;font-size:1.2rem;padding:6px 12px;color:#aaa;text-decoration:none;margin:0;line-height:26px;background:none}
.top_sub_menu li a:hover{color:#FFF;background:#333}

.gnb .top_right_menu{float:right;text-transform:uppercase;*padding-top:16px;padding-right:1%;margin-right:0}
.gnb .top_right_menu li{display:inline-block;zoom:1;*display:inline;padding-right:10px}
.gnb .top_right_menu a{background:none;color:#FFF;border-bottom:none;height:28px;padding:12px 12px 0 0}
.gnb .top_right_menu a:hover{background:none;color:#f15d1e}
.gnb .top_right_menu.active>a{background:none;border-radius:0}

.gnb .top_right_menu li.welcome{display:inline-block;zoom:1;*display:inline;background:url(../Image/smile_icon.png) no-repeat 0 50%;padding-left:18px;color:#FFF;font-size:12px;font-size:1.2rem;*vertical-align:14px}


#sn_common_bottom{background:none}
#footer{text-align:center;clear:both}
.footer_global span{display:inline-block;zoom:1;*display:inline;padding:0 10px;color:#444}

#global_menu{left:200px;top:-74px}
#global_menu li{text-align:left}

.footer_menu{padding:0}
.footer_menu li{display:inline-block;zoom:1;*display:inline;background:none;padding-right:10px;*padding-right:20px;padding-left:0}
.footer_menu li:after{content:" | ";padding-left:10px;font-size:12px;color:#444}
.footer_menu li:last-child:after{content:""}

}